= render :partial => "/shared/header", :locals => { :title => "Edit Website", :subtitle => h(@website.name), :flash => flash }
- form_for @website do |f| 
  = render :partial => "form", :locals => { :f => f }
  
  %button{:type => "submit", :name => "commit", :value => "Update", :class => 'button positive'} Update Website
  = link_to "Cancel", :back, :class => "button"