= render :partial => "/shared/header", :locals => { :title => @website.name, :subtitle => @website.url, :flash => flash }

%h3 Administrators
- if @website.admins.blank?
  %p This website has no administrators.
- else
  %ul
  - @website.admins.each do |admin|
    %li= admin.name
    
%h3 Clients
- if @website.clients.blank?
  %p This website has no clients.
- else
  %ul
  - @website.clients.each do |client|
    %li= client.hostname
  

.button_row
  = link_to "Edit Website", edit_website_path(@website), :class => "button"