= render :partial => "/shared/header", :locals => { :title => "Edit Admin", :subtitle => @admin.name, :flash => flash }
- form_for @admin do |f| 
  = render :partial => "form", :locals => { :f => f }
  
  %button{:type => "submit", :name => "commit", :value => "Update", :class => 'button positive'} Update Admin
  = link_to "Cancel", :back, :class => "button"