= render :partial => "/shared/header", :locals => { :title => "Viewing Admin", :subtitle => h(@admin.name), :flash => flash }

%p== #{h(@admin.name)} is an admin

.button_row
  = link_to "Edit #{@admin.name}", edit_admin_path(@admin), :class => "button"