= render :partial => "/shared/header", :locals => { :title => @admin.name, :subtitle => "", :flash => flash }

.button_row
  = link_to "Edit #{@admin.name}", edit_admin_path(@admin), :class => "button"