%h2 Users

- unless @users.empty?
  %table
    %tr
      %th Permalink
    - @users.each do |user| 
      %tr
        %td= user.permalink
- else
  = link_to "There are no users, click here to create the first one.", new_user_path