= render :partial => "/shared/header", :locals => { :title => "New User", :subtitle => "", :flash => flash }

- form_for @user do |f|
  = render :partial => "form", :locals => { :f => f }
  
  %button{:type => "submit", :name => "commit", :value => "Create", :class => 'button positive'} Create User
  = link_to "Cancel", :back, :class => "button"
  
