= render :partial => "/shared/header", :locals => { :title => "Edit client", :subtitle => @client.hostname, :flash => flash }
- form_for @client do |f| 
  = render :partial => "form", :locals => { :f => f }
  
  %button{:client => "submit", :name => "commit", :value => "Update", :class => 'button positive'} Update Client