= render :partial => "/shared/header", :locals => { :title => "New Client", :subtitle => "", :flash => flash }
- form_for(@client) do |f| 
  = render :partial => "form", :locals => { :f => f }
  
  %button{:type => "submit", :name => "commit", :value => "Create", :class => 'button positive'} Create Client