= render :partial => "/shared/header", :locals => { :title => "Viewing Client", :subtitle => @client.hostname, :flash => flash }
  
%dl
  %dt IP Address
  %dd= @client.ip_address
  %dt API Key
  %dd
    = @client.api_key
    %span.explanation
      This will be filled in when we are generating API keys.



