= render :partial => "/shared/header", :locals => { :title => "New Bucket", :subtitle => "", :flash => flash }
- form_for(@bucket) do |f| 
  = render :partial => "form", :locals => { :f => f }
  
  %button{:type => "submit", :name => "commit", :value => "Create", :class => 'button positive'} Create Bucket
  = link_to "Cancel", :back, :class => "button"