= render :partial => "/shared/header", :locals => { :title => "Viewing Tag", :subtitle => h(@tag.permalink), :flash => flash }

.button_row
  = link_to "Edit Tag", edit_tag_path(@tag), :class => "button"


